        @{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    This sample is provided to help you get started with A/B Test Master. For more information and full documentatoin, refer to our website which is soon to be home of <a href="http://www.abtestmaster.com">A/B Testing</a>
</p>
