@{
    ViewBag.Title = "Payment";
}
<h2>Payment</h2>

<div class="row">
    <div class="col-md-12">
        @{Html.RenderAction("WarningVariantA", "Home");}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @{Html.RenderAction("TableVariantA", "Home");}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Order", "Receipt", "Home", new {@class = "pull-right btn btn-lg btn-success"})
    </div>
</div>
