<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Drug Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nurofen</td>
            <td>$11</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Zyvox</td>
            <td>$39</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Velcade</td>
            <td>$61</td>
            <td>1</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td>$122</td>
            <td></td>
        </tr>
    </tbody>
</table>